@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", serif;
}

html,
body {
  background-color: #ffffff;
}

.logo {
  font-family: "MuseoModerno", serif;
  font-optical-sizing: auto;
}

/* From Uiverse.io by rushik0507 */
.container {
  width: 5em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}

.loader {
  fill: none;
  stroke: #106ee8;
  stroke-width: 4;
  stroke-dasharray: 2, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

@keyframes blink {
  0%,
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.blinking-dots span {
  display: inline-block;
  font-size: 24px;
  animation: blink 1.4s infinite both;
}

.blinking-dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.blinking-dots span:nth-child(3) {
  animation-delay: 0.4s;
}
